:root {
  --rosewater: #f5e0dc;
  --flamingo: #f2cdcd;
  --pink: #f5c2e7;
  --mauve: #cba6f7;
  --red: #f38ba8;
  --maroon: #eba0ac;
  --peach: #fab387;
  --yellow: #f9e2af;
  --green: #a6e3a1;
  --teal: #94e2d5;
  --sky: #89dceb;
  --sapphire: #74c7ec;
  --blue: #89b4fa;
  --text: #cdd6f4;
  --subtext1: #bac2de;
  --subtext0: #a6adc8;
  --overlay2: #9399b2;
  --overlay1: #7f849c;
  --overlay0: #6c7086;
  --surface2: #585b70;
  --surface1: #45475a;
  --surface0: #313244;
  --base: #1e1e2e;
  --mantle: #181825;
  --crust: #11111b;
}

/*
 _   _               ____
| \ | | __ ___   __ | __ )  __ _ _ __ ___
|  \| |/ _` \ \ / / |  _ \ / _` | '__/ __|
| |\  | (_| |\ V /  | |_) | (_| | |  \__ \
|_| \_|\__,_| \_/   |____/ \__,_|_|  |___/
*/

/* left most bar */
.NavTabs {
  background-color: var(--mantle) !important;
}

.NavTabs__ItemButton:hover {
  background-color: var(--surface0) !important;
}

.NavTabs__Item[aria-selected="true"] > span > .NavTabs__ItemButton {
  background-color: var(--surface1) !important;
}

/* second to left bar */
.NavSidebar {
  background-color: var(--mantle) !important;
}

.module-conversation-list__item--contact-or-conversation--is-selected {
  background-color: var(--surface1) !important;
}

.module-conversation-list__item--contact-or-conversation--is-button:hover,
.module-conversation-list__item--contact-or-conversation--is-button:focus {
  background-color: var(--surface0) !important;
}
